<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <div class="col">
                <center>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">Year</li>
                        <li class="list-group-item" ng-repeat="year in years" ng-click=data.getResultsForYear(year) ng-class="{active: year === selectedYear}">
                            {{year}}
                        </li>
                    </ul>
                </center>
            </div>
            <div class="col">
                <center>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">Month</li>
                        <li class="list-group-item" ng-repeat="month in months" ng-click=data.getResultsForMonth(month) ng-class="{active: month === selectedMonth}">
                            {{month}}
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
    <div class="col-sm-7">

        <div class="row">
            
            <ul class="timeline">
                <li ng-repeat="post in posts | orderBy : '-timestamp'" ng-class-even="'timeline-inverted'" >
                    <div class="timeline-badge" ng-class="{tw: post.type == 'twp', fb: post.type == 'twf'}" >
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <p>
                                <small class="text-muted">
                                    <i class="glyphicon glyphicon-time"></i> {{post.timestamp | date}}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{post.text}}</p>
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="timeline-badge default">
                        <i class="glyphicon glyphicon-home"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Left Event</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Add more progress events and milestones to the left or right side of the timeline. Each event
                                can be tagged with a date and given a beautiful icon to symbolize it's spectacular meaning.</p>

                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Action</a>
                                    </li>
                                    <li>
                                        <a href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a href="#">Something else here</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                
            </ul> 
        </div>


    </div>
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src="/images/placeholder.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>